* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    height: 100vh;
}

p {
    font-family: 'Poppins', sans-serif;


}

button:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}
/* Nav */
.loading_page{
overflow: hidden;
position: relative;
}
.loading_container{
z-index: 80;
width:100%;
background-color: #121212;
height:100%;
}

.inner {
    width: 115px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.circuit {
    background-image: url("img/circuit_4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 256px;
    height: 256px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ramie {
    height: 100px;
    width: 400px;
    background-image: url('img/ramie.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    -webkit-animation: spinRamie 2s linear infinite;
    /*  Safari */
    animation: spinRamie 2s linear infinite;
}

.circuit_border {
    width: 100%;
    height: 100%;
    border-top: 2px solid white;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    /*Safari */
    animation: spin 2s linear infinite;

}

@-webkit-keyframes spinRamie {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(160deg);
    }

    50% {
        -webkit-transform: translate(-50%, -50%) rotate(270deg);
    }

    75% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
    }
}

@keyframes spinRamie {
    0% {
        transform: translate(-50%, -50%) rotate(160deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(270deg);
    }

    75% {
        transform: translate(-50%, -50%) rotate(360deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(90deg);
    }

    75% {
        -webkit-transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(90deg);
    }

    75% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.arrow {
    width: 36px;
    height: 36px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #121212;
    cursor: pointer;
    display: none;
    border-radius: 5px;
    border: 1px solid #BB8547;
    z-index: 20;
}

.arrow img {
    width: 16px;
    height: 8px;
    margin: auto;
}

.nav_container {
    width: 100%;
    height: 64px;
    background-color: #000000;
    opacity: .8;
    display: flex;
    position: fixed;
    z-index: 20;
}

.ul_container {
    width: 85%;
    height: 34px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.ul_container li {
    list-style-type: none;
    height: 100%;
}

.logo_Refit_Button {
    cursor: pointer;
}

.ul_container .logo_Refit {
    width: 40px;
    height: 100%;
}

.ul_container .logo_Refit a,
.ul_container .logo_Refit img {
    width: 40px;
    height: 100%;
}

.ul_container .container_for_buttons {
    transition: transform 0.3s ease-out;
}

.ul_container .logo_facebook {
    width: 34px;
    height: 100%
}

.ul_container .logo_facebook a,
.ul_container .logo_facebook img {
    width: 34px;
    height: 100%;
}

.menu_container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 700px;
}

.menu_container li {
    list-style-type: none;
    height: 100%;
    display: flex;
    margin: auto 15px;
}

.menu_container li button {
    background: none;
    border: none;
    margin: auto;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.menu_container li button a {
    text-decoration: none;
    color: #FFFFFF;
}

.no-active::after {
    content: '';
    width: 0;
    margin-top: 5px;
    height: 2px;
    display: block;
    background-color: #BB8547;
    transition: width .2s;
}

.no-active:hover::after {
    width: 100%;
}

.nav-active::after {
    content: '';
    width: 100%;
    margin-top: 5px;
    height: 2px;
    display: block;
    background-color: #BB8547;
    transition: width .2s;
}

.hamburger {
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: none;
    z-index: 30;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .20);
    cursor: pointer;
}

.hamburger span:nth-child(1) {
    transform: translate(-50%, -50%) translateY(-15px);
    transition: .2s;
}

.hamburger span:nth-child(4) {
    transform: translate(-50%, -50%) translateY(15px);
    transition: .2s;
}

.hamburger.active span:nth-child(1) {
    transform: translate(-50%, -50%) translateY(-30px);
    opacity: 0;
}

.hamburger.active span:nth-child(4) {
    transform: translate(-50%, -50%) translateY(30px);
    opacity: 0;
}

.hamburger.active span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(45deg);
    transition-delay: .2s;
}

.hamburger.active span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-45deg);
    transition-delay: .2s;
}

/* menu on */

/* header */
.header_container {
    width: 100%;
    height: 100%;
    background-image: url('img/background_header.png');
    display: none;
}

.header_logo {
    margin: auto;
    max-width: 400px;
}

/* Nasze uslugi sekcja */
.Section_Nasze_uslugi {
    display: none;
    width: 100%;
    background-color: #111111;
    flex-direction: column;

}

.Nasze_uslugi_container {
    width: 90%;
    max-width: 1450px;
    height: 536px;
    display: flex;
    margin: 100px auto;
}

.Nasze_uslugi_container .Nasze_uslugi {
    width: 30%;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

}

.Nasze_uslugi_container .Nasze_uslugi h1 {
    font-size: 40px;
    color: #EEEEEE;
}

.Nasze_uslugi_container .Nasze_uslugi span {
    width: 84px;
    height: 2px;
    background-color: #BB8547;
    display: block;
    margin: 15px 0;
}

.Nasze_uslugi_container .Nasze_uslugi p {
    font-size: 15px;
    color: #EEEEEE;
    line-height: 1.2;
    word-spacing: 5px;
    margin: 15px 0;
}

.Nasze_uslugi_container .Nasze_uslugi .mobile_Nasze_usługi {
    /* margin: 0; */
}

.kontakt_Nasze_Uslugi {
    color: #BB8547;
    cursor: pointer;
    text-decoration: none;
}

.Nasze_uslugi_container img {
    width: 60%;
    height: 530px;
    margin: auto 0 0 0;
    border: 1px solid #BB8547;
    border-radius: 10px;
}

.belka {
    width: 84px;
    height: 2px;
    background-color: #BB8547;
    display: block;
    margin: 0 auto;
}

.Nasze_uslugi_faktyczne_uslugi_container {
    width: 90%;
    max-width: 1450px;
    display: flex;
    margin: 100px auto;

    flex-direction: column;
}

.contaienr_for_squares {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;

}

.box {
    width: 300px;
    height: 300px;
    background-color: #1D1D1D;
    /* margin:auto; */
    display: flex;
    border: 1px solid #BB8547;
    border-radius: 10px;
}

.box_content_container {
    width: 85%;
    height: 85%;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    margin: auto;
}

.box_content_img {
    width: 36px;
    height: 36px;
}

.box_content_h2 {
    font-size: 25px;
    color: #EEEEEE;
    margin-top: 15px;
    margin-bottom: 10px;
}

.box_content_belka_span {
    background-color: #BB8547;
    display: block;
    height: 2px;
    width: 84px;
    margin-bottom: 10px;
}

.box_content_paragraph {
    font-size: 15px;
    color: #EEEEEE;
}

.Nasze_uslugi_header {
    width: 100%;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
}

.Nasze_uslugi_footer {
    width: 100%;
}

.Nasze_uslugi_footer_h3 {
    font-size: 32px;
    color: #EEEEEE;
}

.Nasze_uslugi_footer_paragraph {
    font-size: 15px;
    color: #EEEEEE;
    line-height: 1.2;
    word-spacing: 5px;
}

.belka_Nasze_uslugi_footer {
    margin: 10px 0 10px 0;
}

.inside_footer_Nasze_uslugi {
    width: 100%;
}

/* Realizacje section */
.Realizacje_section {
    width: 100%;
    background-color: #1D1D1D;
    display: none;
}

.Realizacje_section_container {
    width: 90%;
    margin: 100px auto;
    max-width: 1450px;
    display: flex;
}

.img_container {
    height: 500px;
    width: 60%;
    overflow: hidden;
    display: flex;
    position: relative;
    border-radius: 10px;
    border: 1px solid #BB8547;
}

.container_img_second {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
}

.img_container_galery {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 500%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    position: relative;
}

.img_container_img {
    min-width: 100%;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-out;
}

.img_container_img img {

    width: 100%;
    height: 100%;
}

.button1 {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    color: #BB8547;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    width: 40px;
    height: 40px;
    z-index: 19;
}

.button2 {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    color: #BB8547;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    width: 40px;
    height: 40px;
    z-index: 19;

}

.button2:focus {
    outline: 0;
}

.button1:focus {
    outline: 0;
}

.dots_container {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 300px;
    display: flex;
    z-index: 10;
}

.dots_container .dots_container_DOT {
    display: block;
    border: 2px solid gray;
    background-color: white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: auto;
    opacity: .5;
    cursor: pointer;
}

.realizacje_about_container {
    width: 40%;
    height: 500px;
    display: flex;
}

.realizacje_container {
    width: 70%;
    height: 80%;
    margin: 0 0 auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.realizacje_container_title {
    color: #EEEEEE;
    font-size: 40px;
}

.realizacje_container_belka {
    display: block;
    height: 2px;
    width: 122px;
    background-color: #BB8547;
}

.realizacje_container_paragraph {
    font-size: 15px;
    color: #EEEEEE;
}

.realizacje_container_Wiecej_button {
    background-color: #BB8547;
    border: none;
    border-radius: 5px;
    width: 180px;
    height: 40px;
    text-decoration: none;
    font-size: 25px;
    color: #1D1D1D;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-weight: bold;
}

.animatee {
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    -ms-scroll-chaining: none;
    -ms-scroll-snap-type: mandatory;
    -ms-scroll-snap-points-x: snapInterval(0%, 100%);
    transition: transform 0.3s ease-out;
}

/* wycena */
.Wycena_section {
    width: 100%;
    background-color: #121212;
    display: none;
}

.wycena_section_container {
    width: 90%;
    max-width: 1450px;
    display: flex;
    margin: 50px auto;
}

.wycena {
    width: 40%;
    display: flex;

}

.wycena_text {
    width: 80%;
    margin: 80px auto 0 0;
}

.wycena_text h5 {
    color: #EEEEEE;
    font-size: 40px;
}

.wycena_text span {
    width: 84px;
    height: 2px;
    background-color: #BB8547;
    display: block;
    margin: 15px 0;
}

.wycena_text p {
    color: #EEEEEE;
    font-size: 15px;
}

.wycena_kontakt {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.input_email_phone_numer,
.input_text,
.input_message {
    width: 90%;
    height: 40px;
    background: none;
    border: 1px solid #BB8547;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    margin: 0 0 15px auto;
    padding: 5px 0 5px 10px;
}

.input_message {
    height: 200px;
    max-height: 200px;
    overflow-y: hidden;

}

.input_submit {
    background-color: #BB8547;
    border: none;
    border-radius: 5px;
    width: 180px;
    height: 40px;
    text-decoration: none;
    font-size: 25px;
    color: #1D1D1D;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-weight: bold;
    margin: 0 0 0 auto;
    cursor: pointer;
}

.input_email_phone_numer:focus {
    outline: none;
}

.input_text:focus {
    outline: none;
}

.input_message:focus {
    outline: none;
}

.input_submit:focus {
    outline: none;
}

/* o nas */
.o_nas_section {
    width: 100%;
    background-color: #1D1D1D;
    display: none;
}

.o_nas_section_container {
    max-width: 1450px;
    width: 90%;
    margin: 100px auto;
    display: flex;
}

.o_nas_section_container_img_container {
    width: 50%;
    height: 300px;
    display: flex;

}

.O_nas_IMG {
    width: 350px;
    height: 300px;
    margin: auto;
}

.o_nas_section_container_text_container {
    width: 50%;
    height: 300px;
    display: flex;

}

.content_o_nas {
    width: 80%;
    margin: auto 0 auto auto;
}

.o_nas_section_title,
.kontakt_title {
    color: #EEEEEE;
    font-size: 35px;
}

.content_o_nas_belka,
.belka_kontakt {
    width: 84px;
    height: 2px;
    background-color: #BB8547;
    display: block;
    margin: 15px 0;
}

.content_o_nas_p,
.kontakt_p {
    color: white;
    font-size: 15px;
    margin: 10px 0;
}

/* kontakt */
.kontakt_section {
    width: 100%;
    background-color: #121212;
    display: none;
}

.kontakt_sction_container {
    width: 90%;
    margin: 100px auto;
    display: flex;
}

.kontakt {
    width: 50%;
    height: 250px;
    display: flex;
}

.kontakt_text {
    width: 70%;
    margin: 20px auto auto 0;
}

.dane_do_kontaktu {
    width: 50%;
    display: flex;
    height: 250px;
}

.dane {
    width: 100%;
    height: 35px;
    display: flex;

}

.dane_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;

}

.dane img {
    width: 35px;
    height: 35px;
    margin-right: 30px;
}

.dane a {
    font-size: 22px;
    color: #EEEEEE;
    text-decoration: none;
    margin: auto 0;
}

.footer_contaienr {
    width: 100%;
    height: 50px;
    background-color: #1D1D1D;
    display: none;
}

.footer {
    margin: auto;
}

.footer span {
    color: white;
}

.footer span a {
    text-decoration: none;
    font-weight: bold;
    color: #BB8547;
}

.kreska {
    margin: 0 10px;
}

@media only screen and (max-width: 1200px) {
    .Nasze_uslugi_container {
        flex-direction: column;
        height: 100%;
    }

    .Nasze_uslugi_container img {
        width: 100%;
    }

    .Nasze_uslugi_container .Nasze_uslugi {
        width: 80%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .Nasze_uslugi_container .Nasze_uslugi .mobile_Nasze_usługi {
        margin: 10px 0;
    }
}

@media only screen and (max-width: 1125px) {
    .Nasze_uslugi_header {
        flex-direction: row;
    }

    .contaienr_for_squares {
        margin-bottom: 0;
        flex-direction: column;
    }

    .box {
        margin: auto auto 100px auto;
    }

    .img_container {
        height: 450px;
    }

    .O_nas_IMG {
        margin: 0;
    }

    .o_nas_section_container_text_container {
        height: initial;
    }
}

@media only screen and (max-width: 1080px) {
    .menu_container li button {
        font-size: 20px;
    }

    .Realizacje_section_container {
        flex-direction: column;
    }

    .img_container {
        width: 100%;
        order: 2;

    }

    .realizacje_about_container {
        order: 1;
        width: 100%;
        height: initial;
        margin-bottom: 100px;
    }

    .realizacje_container {
        width: 80%;
        height: 100%;
        margin: initial;
    }

    .realizacje_container_title {
        margin-bottom: 20px;
    }

    .realizacje_container_belka {
        margin-bottom: 20px;
    }

    .realizacje_container_paragraph {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .wycena_section_container {
        flex-direction: column;
    }

    .wycena {
        margin-bottom: 50px;
        width: 80%;
    }

    .wycena_text {
        width: 80%;
    }

    .wycena_kontakt {
        width: 80%;
    }

    .input_email_phone_numer,
    .input_text,
    .input_message {
        width: 100%;
        margin: 0 0 15px 0;
    }
}

@media only screen and (max-width: 900px) {
    .ul_container .container_for_buttons {
        transform: translate3d(300px, 0, 0);
        transition: transform 0.3s ease-out;
        position: absolute;
        background-color: #000000;
        border-radius: 0px 0px 5px 5px;
        top: 64px;
        right: 0px;
        height: 320px;
        width: 300px;
    }

    #logo_facebook {
        display: none;
    }

    .menu_On {
        display: flex;
        transform: inherit;
    }

    .ul_container .container_for_buttons .menu_container {
        flex-direction: column;
    }

    .hamburger {
        display: flex;
    }

    .ul_container .logo_facebook {
        display: flex;
        width: 40px;
        justify-content: space-between;
    }

    .Nasze_uslugi_container img {
        height: 400px;
    }

    .Nasze_uslugi_container .Nasze_uslugi h1 {
        font-size: 30px;
    }

    .inside_footer_Nasze_uslugi {
        width: 95%;
    }
}

@media only screen and (max-width: 850px) {
    .o_nas_section_container {
        flex-direction: column;
    }

    .o_nas_section_container_img_container {
        width: 100%;

    }

    .O_nas_IMG {
        margin: 0 auto;
    }

    .o_nas_section_container_text_container {
        width: 100%;
        margin-top: 60px;
    }

    .content_o_nas {
        margin: 0 auto 0 0;
    }

}

@media only screen and (max-width: 800px) {
    .Nasze_uslugi_header {
        flex-direction: column;
    }

    .box {
        height: initial;
    }

    .box_content_img {
        margin-top: 15px;
    }

    .box_content_paragraph {
        margin-bottom: 30px;
    }

    .kontakt_sction_container {
        flex-direction: column;
    }

    .kontakt {
        width: 100%;
        height: inherit;
        margin-bottom: 30px;
    }

    .dane_do_kontaktu {
        width: 100%;
    }

    .dane_container {
        margin: inherit;
    }
}

@media only screen and (max-width: 700px) {
    .img_container {
        height: 350px;
    }
}

@media only screen and (max-width: 600px) {
    .header_logo {
        max-width: 300px;
    }

    .Nasze_uslugi_container img {
        height: 300px;
    }

    .Nasze_uslugi_container .Nasze_uslugi {
        width: 90%;
        margin: 0 auto 10px 0;
    }

    .realizacje_container {
        width: 90%;
    }

    .img_container {
        height: 300px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .footer span {
        margin: auto;
    }

    .kreska {
        display: none;
    }

}

@media only screen and (max-width: 500px) {
    .Nasze_uslugi_container img {
        height: 200px;
    }

    .realizacje_container_title {
        font-size: 34px;
    }
}

@media only screen and (max-width: 450px) {
    .wycena {
        width: 100%;

    }

    .wycena_text {
        width: 90%;
    }

    .wycena_kontakt {
        width: 100%;
    }

    .o_nas_section_container_img_container {
        height: 250px;
    }

    .O_nas_IMG {
        width: 90%;
        margin: auto;
        height: 100%;
    }

    .content_o_nas {
        width: 90%;
    }
}

@media only screen and (max-width: 400px) {
    .header_logo {
        max-width: inherit;
        width: 60%;
    }

    .box {
        width: 100%;
    }

    .dots_container {
        width: 90%;
    }
}

@media only screen and (max-width: 340px) {
    .circuit {
        width: 200px;
        height: 200px;
    }

    .ramie {
        height: 75px;
        width: 300px;
    }

    .inner {
        width: 85px;
        height: 70px;
    }
}